body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  padding: 2rem;
  text-align: center;
}

h1 {
  color: black;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.book-card {
  background-color: #d5fac3;
  border: 1px solid #18511e;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.book-cover {
  width: 100%;
  height: auto;
}

.book-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: black;
}

.book-author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
.loading-message {
  color: blue;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #0056b3;
}

